#!/usr/bin/env zsh

# Easier navigation up directory tree
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .3="cd ../../.."
alias .4="cd ../../../.."
alias .5="cd ../../../../.."

alias top=htop

alias ls=exa
alias la="ls -Flah"

# ask before overwriting, and show each file copied
alias cp='cp -iv'

# ask before overwriting, and show each file copied
alias mv='mv -iv'

#alias c++=clang++-9


# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"


# make it easier to edit common configuration files
alias zshrc="$EDITOR ~/.zshrc"
alias vimrc="$EDITOR ~/.vimrc"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# use bat instead of cat
alias cat=bat

# use pretty ping
alias ping=prettyping

# make ag use global ignore file
alias ag='ag --path-to-ignore ~/.ignore'

# get weather report
alias weather='curl v2.wttr.in'

# get help on bash commands
how_in() {
    where "$1"; shift
    IFS=+ curl "cht.sh/$where/$*"
}
cheat() {
    curl "cheat.sh/$1"
}

alias fuckthis='git commit -m "$(curl http://whatthecommit.com/index.txt)"'
alias fuckit=fuckthis

# use nvim if available
if type nvim > /dev/null 2>&1; then
    alias vim='nvim'
fi
