#!/bin/env zsh

if _has nvim; then
    alias vim=nvim
fi

if _has gotop; then
    alias top=gotop
fi

if _has exa; then
    alias ls=exa
fi

if _has dog; then
    alias dig=dog
fi

if _has curlie; then
    alias curl=curlie
fi

if _has fd; then
    alias find=fd
fi

alias la="ls -Flah"

# ask before overwriting, and show each file copied
alias cp='cp -iv'
alias mv='mv -iv'

alias zshrc="$EDITOR ~/.zshrc"
alias vimrc="$EDITOR ~/.vimrc"

alias reload="exec ${SHELL} -l"

# print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

if _has cat; then
    alias cat=bat
fi

alias fuckthis='git commit -m "$curl http://whatthecommit.com/index.txt)"'
alias fuckit=fuckthis
