#!/bin/zsh

# Easier navigation up directory tree
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .3="cd ../../.."
alias .4="cd ../../../.."
alias .5="cd ../../../../.."

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# make it easier to edit common configuration files
alias zshrc="$EDITOR ~/.zshrc"
alias vimrc="$EDITOR ~/.vimrc"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# start hot-reloading local server
export LOCAL_IP=`ipconfig getifaddr en0`
alias serve="browser-sync start -s -f . --no-notify --host $LOCAL_IP --port 9000"

# add some sane defaults to oft-used commands
alias cp='cp -iv'  # ask before overwriting, and show each file copied
alias mv='mv -iv'  # ask before overwriting, and show each file copied
# GNU ls doesn't colorize ls like darwin version does
# If you want to use GNU ls, uncomment line below and comment the next one
# ls --color=auto &> /dev/null && alias ls='ls --color=auto -FlAhp' ||
alias la='ls -FGlAhp'   # see `man ls | grep -E "\-[FGlAhp]"` for details
alias less='less -FSRXc'    # clean up less

# integrate Finder with terminal
alias f='open -a Finder ./'

# set up alias for dotfiles
alias config='/usr/local/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME'
