#!/usr/bin/env zsh

# set default editor
export EDITOR='nvim'

# let tmux know 256 colors are available
export TERM="xterm-256color"

# Fix GPG for git commit signing
export GPG_TTY=$(tty)

# omit duplicates and commands that begin with space from history
export HISTCONTROL='ignoreboth';

# allow Go to pull from private repos
export GOPRIVATE="github.com/anson-vandoren"
