#!/bin/env zsh

# Create a folder and move into it in one command
mkd() { mkdir -p "$@" && cd "$_"; }

# fh - repeat history
fh() {
  print -z $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed -r 's/ *[0-9]*\*? *//' | sed -r 's/\\/\\\\/g')
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

# no arguments: `git status`
# with arguments: acts like `git`
config() {
    if [[ $# -gt 0 ]]; then
        /usr/local/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME $@
    else
        /usr/local/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME status
    fi
}

# same as above, but for normal git
g() {
    if [[ $# -gt 0 ]]; then
        git $@
    else
        git status
    fi
}
