# private gitconfig data
.extra
.gitconfig_private

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# credentials that should never be committed
.aws/

.cache/
.mozilla/
.gnupg
.zsh_history
.ssh/known_hosts

# don't need bash files
.bash_history
.bash_logout
.bashrc

# don't need plenty of other files in the home folder
.Xauthority
.dmrc
.esd_auth
.gdbinit
.zcompdump*
.xsession-errors*
.python_history
.cargo
.rustup
.pki
.local/
.java/
.fzf/
.fzf.zsh
.vim/plugged/
.config/monitors*
.config/autostart
.config/balena*
.config/BraveSoftware/
.config/autokey/
.config/dconf
.config/htop
.config/ibus
.config/pulse
.config/mimeapps.list
.wget-hsts
.near-credentials
.lesshst
.config/@trezor
.virtualenvs
.config/evolution
.config/font-manager
.vim/swaps
snap/
src/
.platformio/
.pyenv/
.ssh/id*
Downloads/
.dotfiles/
.npm/
.nvm/

