# private gitconfig data
.extra
.gitconfig_private

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# credentials that should never be committed
.aws/

.cache/
.mozilla/
.gnupg
.zsh_history
.ssh/known_hosts

# don't need bash files
.bash_history
.bash_logout
.bashrc

# don't need plenty of other files in the home folder
.Xauthority
.dmrc
.esd_auth
.gdbinit
.zcompdump*
.xsession-errors*
.python_history
.cargo
.rustup
.pki
.local/
.java/
.fzf/
.fzf.zsh
.vim/plugged/
.wget-hsts
.near-credentials
.lesshst
.virtualenvs
.vim/swaps
snap/
.platformio/
.pyenv/
.ssh/id*
.ssh/cribl*
Downloads/
Pictures/
.dotfiles/
.npm/
.nvm/
.vscode/
.vim/.netrwhist
.dbus/

# config we don't really want to track
.config/1Password/
.config/QtProject.conf
.config/Slack/
.config/VirtualBox/
.config/chromium/
.config/flameshot/
.config/google-chrome*/
.config/microsoft-edge-dev/
.config/vivaldi-*/
.config/Unknown Organization/
.config/zoomus.conf
.config/Hyper
