# private gitconfig data
.extra
.gitconfig_private

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# credentials that should never be committed
.aws/

.cache/
.mozilla/
.gnupg
.zsh_history
.ssh/known_hosts

# don't need bash files
.bash_history
.bash_logout
.bash_profile
.bashrc

# don't need plenty of other files in the home folder
.cargo
.charles
.dbus/
.dmrc
.dotfiles/
.esd_auth
.fzf.zsh
.fzf/
.gdbinit
.java/
.lesshst
.local/
.near-credentials
.node_repl_history
.mitmproxy/*.pem
.mitmproxy/*.crt
.mitmproxy/*.p12
.npm/
.nvm/
.pki
.platformio/
.pyenv/
.python_history
.rustup
.ssh/cribl*
.ssh/id*
.tldr/
.tmux/
.vim/.netrwhist
.vim/plugged/
.vim/swaps
.virtualenvs
.vscode/
.wget-hsts
.Xauthority
.xsession-errors*
.z/
.zcompdump*
.zoom/
Desktop/
Documents/
Downloads/
go
Pictures/
snap/
Videos/
VirtualBox\ VMs/


# don't commit into any repo
**/tags

# config we don't really want to track
.config/.org.chromium*
.config/1Password/
.config/chromium/
.config/flameshot/
.config/google-chrome*/
.config/Hyper
.config/microsoft-edge-dev/
.config/QDirStat/
.config/QtProject.conf
.config/Slack/
.config/Unknown Organization/
.config/VirtualBox/
.config/vivaldi-*/
.config/zoomus.conf
.hyper_plugins/cache/
.hyper_plugins/node_modules

src/cribl/start
