@keyframes blink-warning {
  70% {
    color: @light;
  }

  to {
    color: @light;
    background-color: @warning;
  }
}

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

@define-color light   #adadad;
@define-color dark    #242526;
@define-color warning #f8511b;

#waybar {
    background: transparent;
    color: @light;
    font-family: "MesloLGS NF";
    font-size: 16px;
}

#network,
#pulseaudio,
#mode,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

/* all blinking */
#mode {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* warning-blink modules */
#mode {
  animation-name: blink-warning;
  animation-duration: 0.5s;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #565747;
  padding: 0 4px;
}

#window {
    font-weight: bold;
    font-family: "MesloLGS NF";
}

#workspaces button {
  padding: 0 4px;
  margin: 0 2px;
  color: #adadad;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #5e5e5e;
}

#workspaces button.focused {
  color: @dark;
  background: #fa771d;
  border: 1px solid @dark;
}

#workspaces button:hover {
  color: @dark;
  background: #5fac6d;
  border: 1px solid #1a1a1a;
  padding: 0 4px;
}

#custom-storage {
  color: #8c735b;
  padding-right: 10px;
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}
#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}

#clock {
    font-weight: bold;
}

#network {
  color: #fdc325;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
  color: #3393ca;
}

#pulseaudio.muted {
}

#tray {
}

/* clocks */
#clock {
  background: @light;
  color: @dark;
}


