* {
    font-family: "MesloLGS NF";
    font-size: 16px;
}

window#waybar {
    background: #292b2e;
    color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #5aaa5a;
}

#window {
    font-weight: bold;
    font-family: "MesloLGS NF";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 4px;
    color: #fdf6e3;
}

#workspaces button.focused {
    color: #268bd2;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #5aaa5a;
  border: #1a1a1a;
  padding: 0 4px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #network, #pulseaudio, #tray, #mode {
    padding: 0 10px;
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}
#curtom-storage.critical {
  color: rgba(238, 46, 36, 1);
}

#clock {
    font-weight: bold;
}

#network {
  color: #a1982a;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
  color: #268bd2;
}

#pulseaudio.muted {
}

#tray {
}
