/** Basic config file **/

configuration {
  modi: "combi";
  font: "MesloLGS NF Regular 12";
  combi-modi: "window,drun,ssh";
  show-icons:         true;
  icon-theme:         "Numix-Circle";
  monitor: "primary";
}
@import "./launchers/text/style_3.rasi"
