[Desktop Entry]
Name=Zoom Workplace
Comment=Zoom Video Conference
Exec=env QT_SCREEN_SCALE_FACTORS=HDMI-0=1.00;DP-3=1.00;DP-0.8=1.00 /usr/bin/zoom %U
Icon=Zoom
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
Name[en_US]=Zoom Workplace
